.container
{
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
}

.entradas
{

  flex-direction: column;
}

input
{
  max-width: 2.5em;
  font-size: 3em;
}

h1
{
  font-family: cursive;
  font-size: 40px;
  color: #10b07c
}

button
{
  background-color: #10b07c;
  border: 0px;
  color: white;
  font-size: 40px;
  elevation: 20px;
}

#numSort
{
  list-style: none;
  font-size: 3em;
  padding: 0px;
  margin: 0px;
}

#numSort
{
  display: inline;
}

p
{
  font-size: 2em;
  color: #10b07c
}
